/* styles.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black !important;
    
    font-family: 'Libre Baskerville', sans-serif;
}
.container{
    max-width: 1400px;
}
/* //backgrounds */
.bg-matblack{
    background-color: #222222;
}

/* Colors */
.text-ash{
    color: #B5B5B5;
}
.text-gold1{
    color: #EED086;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

.btn-outline-gold{
    color: white;
    border: 1px solid #EED086;
}
.btn-gold{
    background-color: #EED086;
    color: #000;
}
.btn-outline-gold:hover {
    background-color: #EED086;
    color: black;
}

.navbar.scrolled {
    background-color: #00000071;
    backdrop-filter: blur(20px);
}
.navbar-nav{
    display: flex;
    gap: 25px;
}
.navbar-nav .nav-item .nav-link {
    color: white !important;
    transition: color 0.3s;
    font-size: 17px;
   
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ddd !important;
}
.navbar-toggler-icon {
    color: blue;
}
.navbar-nav .nav-item.active .nav-link {
    color: #EED086 !important;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
.banner {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/circuit.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
    opacity: 0;
    transform: translateY(50px);
    animation: slide-in 1s ease-out forwards;
}
.banner-text{
    height: 95vh;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay color */
    z-index: 1;
}

.banner-content, .banner-image {
    position: relative;
    z-index: 2;
}
.bannerheading{
    font-size:6rem;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner-content {
    text-align: center;
}

.banner-image img {
    width: 100%;
    height: auto;
}

.about-us-heading {
    position: relative;
    display: inline-block;
}

.about-us-heading::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #EED086;
    border-radius: 10px;
}

.about-us-heading.underline-animate::after {
    animation: underline-animation 1s ease-out forwards;
}
.about-us-image{
    width: 100%;
    height: 500px !important;
    object-fit: cover;
}

@keyframes underline-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.owd-fade-in {
    animation: owd-fade-in 2s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry;
    animation-delay: var(--animation-delay, 0s);
}

@keyframes owd-fade-in {
    0% {
        opacity: 0;
        transform: translateY(150px) scale(0.8);
    }
   50%{
    opacity: 0.5;
   }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}





/* Cards */

.why-choose-us-heading {
    position: relative;
    display: inline-block;
    color: #333; /* Example text color */
}

.why-choose-us-heading::after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    display: block;
    margin-top: 8px;
    left: 0;
    background: #EED086; /* Example underline color */
    border-radius: 10px; /* Example border radius */
}

@keyframes underline-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100px;
    }
}

.why-choose-us-heading.whychooseus-underline-animate::after {
    animation: underline-animation 0.5s forwards; /* Animation duration and fill mode */
}
/* .img-card {
    height: 250px;
    object-fit: cover;
} */
 .card{
    transition: transform 0.3s ease;
 }
.img-card {
    height: 200px; /* Set a fixed height for the image */
    background-size: cover;
}
.card:hover {
    transform: scale(1.1); /* Zoom in by 10% on hover */
    border-bottom:4px solid #EED086;
    border-radius: 10px;
}

/* Projetcs */
.project-item {
    position: relative;
    overflow: hidden;
}
.project-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Prevents the hover effect from triggering on the overlay */
}
.project-item:hover .project-details {
    opacity: 1;
}
.details-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.category {
    position: absolute;
    color: #EED086;
    top: 10px;
    right: 0px;
    opacity: 0;
    transition: opacity 0.3s ease, transform .8s ease;
}
.project-item:hover .category {
    opacity: 1;
    transform: translateX(-20px); /* Slide from right to left */
}
.arrow-button {
    position: absolute;
    bottom: 10px;
    left: 0px; /* Start from outside the left edge */
    text-decoration: none;
    color: #000;
    height: 45px;
    font-size: 20px;
    width: 45px;
    background-color: #EED086;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    transition: transform .8s ease, left 0.3s ease;
}
.project-item:hover .arrow-button {
    left: 0px; /* Slide to its final position */
    transform: translateX(20px); /* Slide from left to right */
}
.arrow {
    font-size: 20px;
}
.project-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}
.project-heading {
    position: relative;
    display: inline-block;
   
}

.project-heading::after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    display: block;
    margin-top: 8px;
    left: 0;
    background: #EED086; /* Example underline color */
    border-radius: 10px; /* Example border radius */
}

@keyframes underline-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100px;
    }
}
.project-heading.projects-underline-animate::after {
    animation: underline-animation 0.5s forwards; /* Animation duration and fill mode */
}

/* Ideas */
.zoom-wrapper {
    width: 90%; /* Set your desired width */
    height: 250px; /* Set your desired height */
    overflow: hidden; /* Ensures that the image does not overflow the container */
    display: inline-block; /* Allows the zoom effect to work properly */
    position: relative;
    border-radius: 10px;
}

.idea-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}
.idea-body{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.zoom-wrapper:hover .idea-img {
    transform: scale(1.2); /* Zooms in the image by 20% */
}

.ideas-heading {
    position: relative;
    display: inline-block; 
}

.ideas-heading::after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    display: block;
    margin-top: 8px;
    left: 0;
    background: #EED086; /* Example underline color */
    border-radius: 10px; /* Example border radius */
}

@keyframes underline-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100px;
    }
}
.ideas-heading.ideas-underline-animate::after {
    animation: underline-animation 0.5s forwards; /* Animation duration and fill mode */
}
.card1:hover {
    border-bottom:4px solid #EED086;
    border-radius: 10px;
}



/* Footer */
.footer-links{
    font-size: larger;
    margin-bottom: 18px;
 
    color: white;
}
.footer-links > a {
    text-decoration: none;
}



/* Default styles (desktop first) */

/* Large Desktops and Laptops */
@media (min-width: 1200px) {
  
}

/* Desktops and Laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
   
}

/* Mobile Phones */
@media (max-width: 767px) {
    .bannerheading{
        font-size:2.5rem;
    }
    .bannerdesc{
      padding: 10px;
      width: 100% !important;
    }
    .project-img{
        width: 100%;
        height: 210px;
        object-fit: cover;
        border-radius: 20px;
    }
    .banner{
        height: 60vh;
    }
    .banner-text{
        height: 70vh;
    }
}



